<div id="utility-bar">
  <div id="send-wrapper" class="btn-wrapper">
    <img id="send-icon" src="../../../assets/send.jpg" />
    <button id="send" type="button">Send</button>
  </div>
  <div id="receive-wrapper" class="btn-wrapper">
    <img id="receive-icon" src="../../../assets/receive.jpg" />
    <button id="receive" type="button">Receive</button>
  </div>
  <div id="utilities-wrapper" class="btn-wrapper">
    <img id="utilities-icon" src="../../../assets/utilities.jpg" />
    <button id="utilities" type="button">Utilities</button>
  </div>
  <div id="stats-wrapper" class="btn-wrapper">
    <img id="stats-icon" src="../../../assets/stats.jpg" />
    <button id="stats" type="button">Stats</button>
  </div>
</div>
