<div id="utility-bar">
  <div class="btn-wrapper">
    <img src="../../../assets/send.jpg" />
    <button type="button">Send</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/receive.jpg" />
    <button type="button">Receive</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/utilities.jpg" />
    <button type="button">Utilities</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/stats.jpg" />
    <button type="button">Stats</button>
  </div>
</div>
