#screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--light-gray);
}

#screen {
  height: 95%;
  width: 95%;
  border: 2px solid var(--gray);
  border-radius: 20px;
}

#screen-content {
  height: 100%;
  width: 100%;
}
