#card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 280px;
  color: var(--white);
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

#amount {
  font-size: 22px;
  height: 100%;
  padding-top: 20px;
}

#id-and-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

#id {
  width: 100%;
}

img {
  height: 30px;
}

#id-prefix {
  margin-right: 4px;
  padding-bottom: 6px;
  font-weight: bold;
  letter-spacing: 2px;
}
