<div id="status-bar-container">
    <div id="time-and-location" class="status-bar-group">
        <div id="time" class="status-bar-el">1:20</div>
        <img id="location" class="status-bar-el" src="../../../assets/ios-location.png">
    </div>
    <div id="reception-wifi-and-battery" class="status-bar-group">
        <img id="reception" class="status-bar-el" src="../../../assets/ios-reception.png">
        <img id="wifi" class="status-bar-el" src="../../../assets/ios-wifi.png">
        <img id="batery" class="status-bar-el" src="../../../assets/ios-battery.png">
    </div>
</div>