#status-bar-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.status-bar-group {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.status-bar-el {
  display: flex;
  height: 15px;
  color: var(--dark-gray);
  margin: 0px 3px;
}
