<div id="app-bar-container">
  <div id="home-wrapper" class="btn-wrapper">
    <img id="home-icon" src="../../../assets/home.jpg" />
    <button id="home" type="button">Home</button>
  </div>
  <div id="exchange-wrapper" class="btn-wrapper">
    <img id="exchange-icon" src="../../../assets/exchange.jpg" />
    <button id="exchange" type="button">Exchange</button>
  </div>
  <div id="map-wrapper" class="btn-wrapper">
    <img id="map-icon" src="../../../assets/map.jpg" />
    <button id="map" type="button">Map</button>
  </div>
  <div id="settings-wrapper" class="btn-wrapper">
    <img id="settings-icon" src="../../../assets/settings.jpg" />
    <button id="settings" type="button">Settings</button>
  </div>
</div>
