<div id="app-bar-container">
  <div class="btn-wrapper">
    <img src="../../../assets/home.jpg" />
    <button id="home" type="button">Home</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/exchange.jpg" />
    <button type="button">Exchange</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/map.jpg" />
    <button type="button">Map</button>
  </div>
  <div class="btn-wrapper">
    <img src="../../../assets/settings.jpg" />
    <button type="button">Settings</button>
  </div>
</div>
